body {
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}

#pokedex {
    background-color:rgba(53, 30, 30, 1);
    color: white;
    display: flex;
    flex-wrap: wrap;
}

.pokemonContainer:hover {
    cursor: pointer;
    transform: scale(1.1);
    transition: 250ms ease-in-out;
}

.pokemonContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 30px;
    border: 2px solid white;
    height: 300px;
    width: 200px;
}

.pics {
    object-fit: cover;
    height: 200px;
    width: 190px;
}

.typeSpaceBetween {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.d-none {
    display: none;
}

.styleType {
    padding-left: 20px;
    padding-right: 20px;
}

.styleOrder {
    padding-top: 5px;
    padding-bottom: 5px;
}

.bgGreen {
    background-color: green;
}




